POSTGRES_DB=lavanderia_olivo
POSTGRES_USER=lavanderia_user
POSTGRES_PASSWORD=Cambiar_Esta_Clave
POSTGRES_PORT=5432
REDIS_PORT=6379
AUTH_PORT=5001
CATALOG_PORT=5002
ORDERS_PORT=5003
PAYMENTS_PORT=5004
